@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;700&display=swap');
html,body {
    font-family: 'Signika', sans-serif;
    height: 100%;
    background-color: #181818;
}
.is-active span {
    color: aqua;
}
.h-my {
    height: calc(100vh - 50px);
}
.react-photo-album--photo {
    padding:1px;
   border:1px solid #021a40;
   background-color:#ff0;
}